
<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        <i class="fa fa-user"></i> &nbsp; My Profile
    </div>


    <div class="panel-body">
        <div id="profile-form">
            <div class="wizard">
                <a ng-link="['PersonalInfo']">
                    <i class="fa fa-comments"></i>
                    Personal Information
                </a>
                <a ng-link="['UploadPhotos']">
                    <i class="fa fa-camera"></i>
                    Upload Photographs
                </a>
                <a ng-link="['EmploymentInfo']">
                    <i class="fa fa-university"></i>
                    Employment Information
                </a>
                <a ng-link="['PartnerSearchCriteria']">
                    <i class="fa fa-heart"></i>
                    Partner Search Criteria
                </a>
                <a ng-link="['AccountSetting']">
                    <i class="fa fa-cog"></i>
                    Account Settings
                </a>
            </div>
            <div id="form-views">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <ng-outlet></ng-outlet>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-success">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
