<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">My Profile</div>
        <div class="panel-body">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-pills">
                        <li><a data-toggle="pill" ng-link="['PersonalInfo']">Personal Info</a></li>
                        <li><a data-toggle="pill" ng-link="['UploadPhotos']">Upload Photos</a></li>
                        <li><a data-toggle="pill" ng-link="['EmploymentInfo']">Employment Info</a></li>
                        <li><a data-toggle="pill" ng-link="['PartnerSearchCriteria']">Partner Search Criteria</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <ng-outlet></ng-outlet>
                </div>
            </div>

    </div>
</div>

