<form name="registerForm" novalidate class="register-form">
    <div class="row">
        <aside class="col-sm-4"></aside>
        <section class="col-sm-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading">Register</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error':registerForm.phone.$invalid}">
                            <label for="phone" class="control-label">Phone:</label>
                            <input type="text" class="form-control" id="phone" placeholder="Your mobile number" ng-model="vm.userData.mobileNumber"
                                   name="phone"
                                   ng-minlength="7"
                                   ng-maxlength="11"
                                   required
                                   ng-pattern="/^[0-9]+$/">
                        </div>
                        <div class="alert alert-danger" ng-show="registerForm.phone.$invalid">
                            Invalid mobile number entered.
                        </div>
                        <div class="form-group" ng-class="{'has-error':registerForm.pwd.$invalid}">
                            <label class="control-label" for="pwd" data-toggle="tooltip" data-placement="bottom" title="Password must be 6 to 15 characters long.">Password:</label>
                            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password" ng-model="vm.userData.password"
                                   ng-minlength="6"
                                   ng-maxlength="15"
                                   required
                                   ng-pattern="/^(?!.*[^a-zA-Z0-9^+])(.{6,15})$/">
                        </div>

                        <div class="alert alert-danger" ng-show="registerForm.pwd.$invalid">
                            Your password must be 6 to 15 characters long.
                        </div>

                        <div class="form-group">
                            <label for="pwd">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPwd" placeholder="Enter password" ng-model="vm.userData.confirmPassword">
                        </div>

                        <div class="alert alert-danger" ng-show="vm.userData.confirmPassword != vm.userData.password">
                            Password mismatch.
                        </div>

                        <div class="alert alert-success">
                            <input type="checkbox" ng-model="checked1">&nbsp;&nbsp;<strong>
                                I promise not to give or take or participate in the act of dowry in any way.
                                </strong>
                        </div>

                        <div class="alert alert-success">
                            <input type="checkbox" ng-model="checked2">&nbsp;&nbsp;<strong>
                                I confirm that I have read the terms and conditions of using this website and agree to them.
                            </strong>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" ng-model="button" ng-disabled="!(checked1 && checked2 && !registerForm.$invalid)" class="btn btn-primary" ng-click="vm.registerUser()">
                            <span data-ng-hide="vm.loading">
                                Register
                            </span>

                            <span data-ng-show="vm.loading">
                                Wait...
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
        </section>
        <aside class="col-sm-4"></aside>
    </div>
</form>
